.navbar {
    align-items: stretch;
    background-color: #262626;
    color: #CCCCCC;
    display: flex;
    gap: 6px;
    padding: 0 10px;
}

.navbar li {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 15px 10px;
    position: relative;
}

.navbar a {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 0.8rem;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.navbar a::after {
    background-color: #FFB347;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    width: 100%;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navbar_title {
    font-size: 1rem;
}

@media (min-width: 769px) {
    .navbar {
        gap: 35px;
        padding: 0 20px;
    }

    .navbar li {
        padding: 20px 15px;
    }

    .navbar a {
        font-size: 1.2rem;
    }

    #navbar_title {
        font-size: 1.8rem;
    }
}
