.navbar {
    background-color: #262626;
    color: #CCCCCC;
    display: flex;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.navbar li {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    position: relative;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFB347;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navbar_title {
    font-size: 2rem;
}
